:root {
  --accent: #04aa6d;
  --text-light: #eaebec;
  --error: #ff0606;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid #aaa;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

button {
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--text-light);
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.search-bar {
  width: 15%;
  position: relative;
}

.error {
  color: var(--error);
  font-size: 16px;
  position: absolute;
  left: 2px;
  bottom: -21px;
  white-space: nowrap;
}
